<div {{ block.shopify_attributes }}>
  {%- if product != blank -%}
    {%- liquid
      assign gift_card_recipient_feature_active = false
      if block.settings.show_gift_card_recipient and product.gift_card?
        assign gift_card_recipient_feature_active = true
      endif

      assign show_dynamic_checkout = false
      if block.settings.show_dynamic_checkout and gift_card_recipient_feature_active == false
        assign show_dynamic_checkout = true
      endif
    -%}

    <product-form
      class="product-form"
      data-hide-errors="{{ gift_card_recipient_feature_active }}"
      data-section-id="{{ section.id }}"
    >
      <form
        id="product-form-{{ product.id }}"
        class="form"
        novalidate="novalidate"
        action="/cart/add"
        method="post"
        enctype="multipart/form-data"
        data-type="add-to-cart-form"
      >
        {% comment %}
          Renders product variant-picker

          Accepts:
          - product: {Object} product object.
          - block: {Object} passing the block information.
          - product_form_id: {String} Id of the product form to which the variant picker is associated.
          - update_url: {Boolean} whether or not to update url when changing variants. If false, the url isn't updated. Default: true (optional).
          Usage:
          {% render 'product-variant-picker', product: product, block: block, product_form_id: product_form_id %}
        {% endcomment %}

        {%- unless product.has_only_default_variant -%}
          <variant-selects
            id="variant-selects-{{ section.id }}"
            data-section="{{ section.id }}"
            data-url="{{ product.url }}"
            {% if update_url == false %}
              data-update-url="false"
            {% endif %}
            {{ block.shopify_attributes }}
          >
            {%- for option in product.options_with_values -%}
              <div class="product-form__input product-form__input--dropdown quickhide">
                <label class="form__label" for="Option-{{ section.id }}-{{ forloop.index0 }}">
                  {{ option.name }}
                </label>
                <div class="select select1">
                  {%- if picker_type == 'swatch_dropdown' -%}
                    <span
                      data-selected-dropdown-swatch="options[{{ option.name | escape }}]"
                      class="dropdown-swatch"
                    >
                      {% render 'swatch', swatch: option.selected_value.swatch, shape: block.settings.swatch_shape %}
                    </span>
                  {%- endif -%}
                  <div class="var-dropdwn">
                    <select
                      id="Option-{{ section.id }}-{{ forloop.index0 }}"
                      class="select__select"
                      name="options[{{ option.name | escape }}]"
                      form="{{ product_form_id }}"
                    >
                      {% for i in option.values %}
                        <option>{{ i }}</option>
                      {% endfor %}
                    </select>
                    {% render 'icon-caret' %}
                  </div>
                </div>
              </div>
            {%- endfor -%}
            <script type="application/json">
              {{ product.variants | json }}
            </script>
          </variant-selects>
        {%- endunless -%}

        <input
          type="hidden"
          name="id"
          value="{{ product.selected_or_first_available_variant.id }}"
          {% if product.selected_or_first_available_variant.available == false or quantity_rule_soldout %}
            disabled
          {% endif %}
          class="product-variant-id"
        >

        {%- if gift_card_recipient_feature_active -%}
          {%- render 'gift-card-recipient-form', product: product, form: form, section: section -%}
        {%- endif -%}

        <div class="product-form__buttons">
          {%- liquid
            assign check_against_inventory = true
            if product.selected_or_first_available_variant.inventory_management != 'shopify' or product.selected_or_first_available_variant.inventory_policy == 'continue'
              assign check_against_inventory = false
            endif
            if product.selected_or_first_available_variant.quantity_rule.min > product.selected_or_first_available_variant.inventory_quantity and check_against_inventory
              assign quantity_rule_soldout = true
            endif
          -%}
          <button
            id="ProductSubmitButton-{{ section_id }}"
            type="submit"
            name="add"

            class="product-form__submit button button--full-width {% if show_dynamic_checkout %}button--secondary{% else %}button--primary{% endif %}"
            {% if product.selected_or_first_available_variant.available == false or quantity_rule_soldout %}
              disabled
            {% endif %}
          >
            <span>
              {%- if product.selected_or_first_available_variant.available == false or quantity_rule_soldout -%}
                {{ 'products.product.sold_out' | t }}
              {%- else -%}
                {{ 'products.product.add_to_cart' | t }}
              {%- endif -%}
            </span>

            {%- render 'loading-spinner' -%}
          </button>
          {%- if show_dynamic_checkout -%}
            {{ form | payment_button }}
          {%- endif -%}
        </div>
      </form>
    </product-form>
  {%- endif -%}
</div>
