<div {{ block.shopify_attributes }}>
  {%- if product != blank -%}
    <product-form
      class="product-form"
      data-section-id="{{ section.id }}"
    >
      <form
        id="product-form-{{ product.id }}"
        class="form"
        action="/cart/add"
        method="post"
        enctype="multipart/form-data"
      >
        {%- unless product.has_only_default_variant -%}
          <variant-selects
            id="variant-selects-{{ section.id }}"
            data-section="{{ section.id }}"
          >
            {%- for option in product.options_with_values -%}
              <div class="product-form__input product-form__input--radio">
                <label class="form__label">{{ option.name }}</label>
                {%- for value in option.values -%}
                  <div class="radio">
                    <input
                      type="radio"
                      id="Option-{{ section.id }}-{{ forloop.index0 }}-{{ forloop.index }}"
                      name="options[{{ option.name | escape }}]"
                      value="{{ value }}"
                      {% if forloop.first %}
                        checked
                      {% endif %}
                    >
                    <label for="Option-{{ section.id }}-{{ forloop.index0 }}-{{ forloop.index }}">
                      {{ value }}
                    </label>
                  </div>
                {%- endfor -%}
              </div>
            {%- endfor -%}
          </variant-selects>
        {%- endunless -%}

        <input
          type="hidden"
          name="id"
          value="{{ product.selected_or_first_available_variant.id }}"
          class="product-variant-id"
        >

        <!-- Add to Cart Button -->
        <div class="product-form__buttons">
          <button
            id="ProductSubmitButton-{{ section_id }}"
            type="submit"
            name="add"
            class="product-form__submit button button--full-width button--primary"
          >
            Add to Cart
          </button>
        </div>
      </form>
    </product-form>
  {%- endif -%}
</div>
