{{ 'bg-imageWithButton.css' | asset_url | stylesheet_tag }}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="main">
  <div class="bg-img">
    {% if section.settings.image_with_text_image != blank %}
      <img src="{{ section.settings.image_with_text_image | img_url: '' }}">
    {% else %}
      {{ 'image' | placeholder_svg_tag }}
    {% endif %}
  </div>

  <div class="main-text">
    <div class="title">
      <div class="title1">
        <h1>{{ section.settings.title }}</h1>
      </div>
      <div class="brown-title">
        <div class="title2">
          <h1>{{ section.settings.title2 }}</h1>
        </div>
        <div class="title3">
          <h1>
            <span> {{ section.settings.title3 }}</span>
          </h1>
        </div>
      </div>
    </div>
    <div class="textarea">
      <div class="textarea1">
        <p>{{ section.settings.textarea }}</p>
      </div>
      <div class="textarea2">
        <p>{{ section.settings.textarea2 }}</p>
      </div>
    </div>
    <div class="button1">
      <a class="button" href="{{ section.settings.button_link }}">{{ section.settings.button_text }}</a>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "bg-imageWithButton",
  "settings": [
    {
  "type": "image_picker",
  "id": "image_with_text_image",
  "label": "Image"
},
    {
      "type": "range",
      "id": "image_overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.image-banner.settings.image_overlay_opacity.label",
      "default": 100
    },
    {
      "type": "select",
      "id": "desktop_image_width",
      "options": [
        {
          "value": "small",
          "label": "small"
        },
        {
          "value": "medium",
          "label": "medium"
        },
        {
          "value": "large",
          "label": "large"
        }
      ],
      "default": "medium",
      "label": "Desktop Image Width"
    },
     {
          "type": "text",
          "id": "title",
          "label": "Title"
        },

         {
          "type": "text",
          "id": "title2",
          "label": "Title2"
        },
     {
          "type": "text",
          "id": "title3",
          "label": "Title3"
        },
     {
          "type": "text",
          "id": "textarea",
          "label": "Description"
        },
    {
          "type": "text",
          "id": "textarea2",
          "label": "Descrption2"
        },
     {
       "type": "url",
        "id": "button_link",
        "label": "Button link"
     },
     {
       "type": "text",
        "id": "button_text",
        "label": "Button Text",
       "default":"SHOP NOW"
     }
  ],
  "presets": [
    {
      "name": "bg-imageWithButton"
    }
  ]
}
{% endschema %}
