{{ 'signup.css' | asset_url | stylesheet_tag }}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="main-signup">
  <div class="title-signup">
    <h1>{{ section.settings.title }}</h1>
  </div>
  <div class="desc-signup">
    <p>{{ section.settings.Description }}</p>
  </div>
  <div class="wrap">
    <input type="text" placeholder="Enter your email">
    <div class="btn-signup">
      <button href="{{ section.settings.signup_link }}">
        <span>{{ section.settings.signup_text }}</span>
      </button>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Signup-save",
  "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },

       {
        "type": "text",
        "id": "Description",
        "label": "Description"
      },
     {
     "type": "url",
      "id": "signup_link",
      "label": "Button link"
   },
   {
     "type": "text",
      "id": "signup_text",
      "label": "Button link",
     "default":"SUBSCRIBE"
   }
  ],
  "presets": [
    {
      "name": "Signup-save"
    }
  ]
}
{% endschema %}
